@charset "utf-8";
/* CSS Document */

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
/*******************************************/

img {
	border: none;
}

body {
	background: url('../images/bg_body.jpg') 0 0 repeat #f1f1f1;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
	background: url('../images/bg_wrapper.png') 0 0 repeat-x transparent;
	background-size: 6px 405px;
	height: 100%;
}

nav, header, main {
	width: 800px;
	margin: 0 auto;
}

nav a, nav a:hover {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	color: #cccccc;
	text-decoration: none;
	padding: 0 15px;
	height: 77px;
	line-height: 77px;
}

nav a:hover {
	background: url('../images/bg_nav_rollover.png') 0 0 repeat-x transparent;
	color: #9ddcff;
}

header {
	margin-top: 9px;
	overflow: auto;
}

header div {
	float: left;
	position: relative;
	width: 400px;
	height: 86px;
}

header div a {
	float: left;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

header ul {
	float: right;
	width: 240px;
	padding: 0;
	margin: 20px 0 0 0;
}

header ul li {
	display: inline;
	width: 48px;
	height: 48px;
}

header ul li a {
	display: inline-block;
	float: left;
	width: 48px;
	height: 48px;
	margin-right: 11px;
	text-decoration: none;
}


/* Header Links - Off State */
header ul li a.linked-in {
	width: 48px;
	height: 48px;
	background: url('../images/socialNav.png') -9px -67px no-repeat;
}

header ul li a.twitter {
	width: 48px;
	height: 48px;
	background: url('../images/socialNav.png') -68px -67px no-repeat;
}

header ul li a.facebook {
	width: 48px;
	height: 48px;
	background: url('../images/socialNav.png') -127px -67px no-repeat;
}

header ul li a.rss {
	width: 48px;
	height: 48px;
	background: url('../images/socialNav.png') -184px -67px no-repeat;
}

/* Header Links - On State */
header ul li a:hover.linked-in {
	width: 48px;
	height: 48px;
	background: url('../images/socialNav.png') -9px -7px no-repeat;
}

header ul li a:hover.twitter {
	width: 48px;
	height: 48px;
	background: url('../images/socialNav.png') -68px -7px no-repeat;
}

header ul li a:hover.facebook {
	width: 48px;
	height: 48px;
	background: url('../images/socialNav.png') -127px -7px no-repeat;
}

header ul li a:hover.rss {
	width: 48px;
	height: 48px;
	background: url('../images/socialNav.png') -184px -7px no-repeat;
}

main .photobanner, main .imageshadow {
	margin: 0;
	padding: 0;
}

main .imageshadow {
	margin-top: -3px;
}

#blurb {
	width: 800px;
	border-top: 1px solid #bdbdbd;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #bdbdbd;
	padding: 16px 18px 13px 17px;
	background: url('../images/bg_blurg.jog') 0px 0px repeat-x;
	overflow: auto;
}

#blurb span {
	display: inline-block;
	width: 525px;
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: #333;
}

#blurb a {
	display: inline-block;
	float: right;
}